<GridLayout>
    <FLexboxLayount class="page">
    <StackLayout orientation="vertical" class="form">
        <Label class="p-10 m-b-10" *ngIf="errorMessage" [text]="errorMessage" backgroundColor="#f0f0f0" flexGrow="1"></Label>
        
        <TextField
            class="input input-border m-b-10"
            hint="Email Address"
            keyboardType="email"
            returnKeyType="next"
            (returnPress)="focusPassword()"
            [ngrxFormControlState]="form.controls.email"
            autocorrect="false"
            autocapitalizationType="none"
            row="0">
        </TextField>
        <StackLayout class="p-b-10" *ngIf="form.isInvalid && form.isSubmitted">
            <Label *ngIf="form.errors._email" text="- Enter your account's email address -"></Label>
        </StackLayout>

        <TextField #password
            [ngrxFormControlState]="form.controls.password"
            class="input input-border m-b-10"
            hint="Password"
            secure="true"
            returnKeyType="done"
            (returnPress)="onSubmit()"
            row="1"></TextField>
        <StackLayout class="p-b-10" *ngIf="form.isInvalid && form.isSubmitted">
            <Label *ngIf="form.errors._password" text="- Enter your account's password -"></Label>
        </StackLayout>

        <TextField #serverUrl
            [ngrxFormControlState]="form.controls.url"
            class="input input-border m-b-10"
            hint="Server URL"
            returnKeyType="done"
            (returnPress)="onSubmit()"
            autocorrect="false"
            autocapitalizationType="none"
            row="2"></TextField>
        <StackLayout *ngIf="form.isInvalid && form.isSubmitted">
            <Label *ngIf="form.errors._url" text="- A server URL is required -"></Label>
        </StackLayout>

        <Button
            class="submit-button"
            text="Login"
            (tap)="onSubmit()"
        ></Button>
    </StackLayout>
    
    <StackLayout>
        <!-- <Label (tap)="goToRegister.emit()">
            <FormattedString>
                <Span text="Don’t have an account?"></Span>
                <Span text="Sign up" class="bold"></Span>
            </FormattedString>
        </Label> -->
    </StackLayout>
</FLexboxLayount>
</GridLayout>
