<StackLayout orientation="vertical" class="form">
    <Label text="Sign Up"></Label>

    <Label (tap)="goToLoginWith()">
        <FormattedString>
            <Span text="Already registered?"></Span>
            <Span text="Log in" class="bold"></Span>
        </FormattedString>
    </Label>

    <StackLayout>
        <Label>
            <FormattedString>
                <Span text="Email"></Span>
                <Span *ngIf="stageValue !== stages.Email" text=" ✔"></Span>
            </FormattedString>
        </Label>
        <Label
            *ngIf="stageValue === stages.Password || stageValue === stages.Newsletter"
            (tap)="switchCurrentStage(stages.Email)"
            text="(edit)"
        ></Label>
        <TextField
            class="input input-border m-b-10"
            hint="Email Address"
            keyboardType="email"
            [editable]="stageValue === stages.Email"
            returnKeyType="done"
            (returnPress)="submit()"
            [ngrxFormControlState]="form.controls.email"
            autocorrect="false"
            autocapitalizationType="none"
            row="0">
        </TextField>

        <StackLayout *ngIf="stageValue === stages.Email">
            <StackLayout *ngIf="form.isUnsubmitted">
                <Label *ngIf="!form.controls.email.isValid">
                    <FormattedString>
                        <Span text="Your email address is your unique username."></Span>
                        <Span text="We don't share it with others."></Span>
                    </FormattedString>
                </Label>
                <Label
                    *ngIf="form.controls.email.isValid"
                    text="Looks good to us! Make sure it’s correct, then press &ldquo;Next&rdquo; to go to the next step."
                ></Label>
            </StackLayout>
            <StackLayout *ngIf="form.isSubmitted">
                <Label
                    *ngIf="isEmailTaken"
                    text="There is already an account registered with this email address."
                ></Label>
                <Label
                    *ngIf="form.errors._email"
                    text="Enter a valid email address."
                ></Label>
            </StackLayout>

            <Button
                class="submit-button"
                text="Next"
                (tap)="submit()"
            ></Button>

            <progress-indicator
                [inProgress]="hasSubmitStarted"
                inProgressText="Verifying"
                [completed]="hasSubmitFinished"
            ></progress-indicator>
        </StackLayout>
    </StackLayout>

    <StackLayout>
        <Label>
            <FormattedString>
                <Span text="Password"></Span>
                <Span *ngIf="stageValue !== stages.Password && !form.errors._password" text=" ✔"></Span>
            </FormattedString>
        </Label>
        <Label
            *ngIf="stageValue === stages.Newsletter"
            (tap)="switchCurrentStage(stages.Password)"
            text="(edit)"
        ></Label>

        <StackLayout *ngIf="stageValue === stages.Password">
            <TextField
                #passwordInput
                class="input input-border m-b-10"
                hint="Password"
                secure="true"
                returnKeyType="done"
                (returnPress)="submit()"
                [ngrxFormControlState]="form.controls.password"
            ></TextField>

            <StackLayout *ngIf="form.controls.password.isInvalid && form.isSubmitted">
                <Label
                    *ngIf="form.errors._password.required"
                    text="Enter a password for your account"
                ></Label>
                <Label
                    *ngIf="form.errors._password.minLength"
                >
                    <FormattedString>
                        <Span text="Make a long password."></Span>
                        <Span
                            *ngIf="form.value.password.length < 1"
                            text="We require at least 10 characters."
                        ></Span>
                        <Span
                            *ngIf="form.value.password.length >= 1"
                            [text]="'Enter at least ' + (form.errors._password.minLength.minLength - form.value.password.length) + ' more character'"
                        ></Span>
                        <Span
                            *ngIf="form.errors._password.minLength.minLength - form.value.password.length !== 1"
                            text="s"
                        ></Span>
                        <Span text="."></Span>
                    </FormattedString>
                </Label>
                <StackLayout
                    *ngIf="form.controls.password.isInvalid && form.value.password.length >= 10"
                >
                    <Label
                        *ngIf="form.errors._password.hasUniqueChars"
                        text="Password must have more than 5 unique characters."
                    ></Label>
                    <Label
                        *ngIf="form.errors._password.notNumeric"
                        text="Password must not be only numbers."
                    ></Label>
                    <Label
                        *ngIf="form.errors._password.notEqualTo"
                        text="Password must not be email address."
                    ></Label>
                </StackLayout>
            </StackLayout>

            <Label
                *ngIf="form.controls.password.isInvalid"
                text="Make a memorable password, or write it down. Passit cannot reset your password if you forget it."
            ></Label>
            <Label 
                *ngIf="!form.errors._password && !form.value.passwordConfirm && form.value.showConfirm"
                text="Good! Now click the eye icon or retype your password below to confirm what you entered."
            ></Label>
            <Label
                *ngIf="!form.errors._password && !form.value.showConfirm"
                    text="Remember, Passit cannot reset a forgotten password. Consider writing it down and storing it somewhere safe."
            ></Label>

            <StackLayout *ngIf="form.value.showConfirm">
                <Label text="Confirm Password"></Label>
                <TextField
                    hint="Confirm Password"
                    secure="true"
                    returnKeyType="done"
                    (returnPress)="submit()"
                    [ngrxFormControlState]="form.controls.passwordConfirm"
                ></TextField>
                <StackLayout *ngIf="form.controls.passwordConfirm.isValid">
                    <Label text="That’s a match! Press &ldquo;Next&rdquo; to continue."
                    ></Label>
                    <Label
                        text="Remember, Passit cannot reset a forgotten password. Consider writing it down and storing it somewhere safe."
                    ></Label>
                </StackLayout>
                <StackLayout
                    *ngIf="form.errors._passwordConfirm &&
                        form.value.showConfirm &&
                        (form.value.passwordConfirm.length >= form.value.password.length || form.isSubmitted)"
                >
                    <Label 
                        *ngIf="form.errors._passwordConfirm.equalTo"
                        text="Passwords do not match."
                    ></Label>
                ></StackLayout>
            </StackLayout>

            <Button
                class="submit-button"
                text="Next"
                (tap)="submit()"
            ></Button>
        </StackLayout>
    </StackLayout>

    <StackLayout>
        <Label>
            <FormattedString>
                <Span text="Newsletter"></Span>
                <Span
                    *ngIf="stageValue !== stages.Newsletter && (stageValue === stages.ConfirmEmail || stageValue === stages.Verified)"
                    text=" ✔"
                ></Span>
            </FormattedString>
        </Label>
        <Label
            *ngIf="stageValue !== stages.Newsletter && (stageValue === stages.ConfirmEmail || stageValue === stages.Verified)"
            [text]="form.value.signUpNewsletter ? 'Yes' : 'No'"
        ></Label>

        <StackLayout *ngIf="stageValue === stages.Newsletter">
            <Label
                text="Subscribe to Passit’s newsletter to get extra updates, tips, and offers"
            ></Label>
            <Switch
                [ngrxFormControlState]="form.controls.signUpNewsletter"
            ></Switch>

            <Button
                class="submit-button"
                text="Next"
                (tap)="submit()"
            ></Button>
            <progress-indicator
                [inProgress]="hasSubmitStarted"
                inProgressText=""
                [completed]="hasSubmitFinished"
                completedText=""
            ></progress-indicator>
            <Label
                *ngIf="hasSubmitStarted"
                text="Passit is creating your account. This can take a little time."
            ></Label>
        </StackLayout>
    </StackLayout>

    <StackLayout>
        <Label>
            <FormattedString>
                <Span text="Verify Email Address"></Span>
                <Span
                    *ngIf="stageValue === stages.Verified"
                    text=" ✔"
                ></Span>
            </FormattedString>
        </Label>
    </StackLayout>

    <confirm-email-container
        *ngIf="stageValue === stages.ConfirmEmail"
        inline="true"
    ></confirm-email-container>

    <StackLayout>
        <Label textWrap="true">
            <FormattedString>
                <Span text="You are signing up for Passit at "></Span>
                <Span [text]="urlDisplayName"></Span>
                <Span text=". "></Span>
                <Span text="If you're signing up with your company or if you're self-hosting, you can "></Span>
            </FormattedString>
        </Label>
        <!-- Span isn't tap-able. TODO remove linebreaks-->
        <Label (tap)="displayUrl()">
            <FormattedString>
                <Span text="change the server you connect to"></Span>
            </FormattedString>
        </Label>
        <Label text="."></Label>
    </StackLayout>

    <StackLayout *ngIf="showUrl">
        <Label text="Server"></Label>
        <TextField
            [ngrxFormControlState]="urlForm.controls.url"
            hint="app.passit.io"
            keyboardType="url"
            returnKeyType="done"
            (returnPress)="urlSubmit()"
        ></TextField>
        <Label
            *ngIf="!isUrlValid && urlForm.isSubmitted"
            text="The URL you entered is not a valid Passit server."
        ></Label>
        <Label text="Enter an alternate server URL here. For example, passit.mycompany.com."></Label>
        <Button
            class="submit-button"
            text="Change Server"
            (tap)="urlSubmit()"
        ></Button>
        <Label
            (tap)="hideUrl()"
            text="Cancel"
        ></Label>
    </StackLayout>
</StackLayout>
